* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.label {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 35.99px;
    &_second {
        color: #393939;
        font-size: 30px;
        margin: 81px 0 44px 0;
    }
    &_third {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        top: 79px;
    }
    &_fourth {
        color: #393939;
        font-size: 30px;
        line-height: 36px;
        margin-top: 74px;
        text-align: center;
    }
}

.button {
    margin-top: 39px;
    width: 241px;
    height: 60px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: #00c2f0;
    border: 1px solid #00c2f0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        background-color: #01ceff;
    }
    &_second {
        margin: 30px 0 80px 0;
    }
}

@import 'blocks/header';
@import 'blocks/presentation';
@import 'blocks/tabs';
@import 'blocks/solutions';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/start';
@import 'blocks/footer';