.presentation {
    background: url(../img/main_bg.png) center (center/cover) no-repeat;
    &__nav {
        padding-top: 39px;
        margin-bottom: 27px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            margin-left: 45px;
            a {
                color: #ffffff;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        li:first-child {
            margin-left: 0;
        }
        li:nth-child(2) {
            margin-left: 440px;
        }
    }
    .presentation__descr {
        display: flex;
        justify-content: space-between;
    }
    .presentation__item {
        width: 50%;
    }
    .presentation__title {
        margin-top: 133px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        line-height: 48px;
    }
    .presentation__text {
        margin-top: 27px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        span {
            font-weight: 400;
        }
    }
}