.variants {
    position: relative;
    &__row {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__col {
        height: 580px;
    }
    &__img {
        position: relative;
        z-index: 1;
    }
    &__item_1 {
        position: relative;
        margin-right: 82px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: -320px;
        left: 0;
        z-index: 2;
    }
    &__square {
        position: absolute;
        left: 750px;
        top: -30px;
        &_second {
            left: -41px;
        }
    }
    &__text {
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        &_2 {
            justify-content: flex-start;
        }
    }
    &__descr {
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        &_2 {
            justify-content: flex-start;
            text-align: left;
        }
    }
    &__item_2 {
        position: relative;
        margin-left: 82px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: -320px;
        left: 0;
        z-index: 2;
    } 
}